<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IGinService" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/GinService/service" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IGinService" contract="GinService.IGinService"
                name="NetNamedPipeBinding_IGinService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>